.primary-toast {
  background-color: #0277bd;
}
.success-toast {
  background-color: #2e7d32;
}
.danger-toast {
  background-color: #c62828;
}

.sidenav li a.active {
  background-color: rgba(0, 0, 0, 0.05);
}
